label.error {
    color: #f00;
}

.error {
    font-size: 14px !important;
    position: relative;
}

input.error {
    border: 1px solid;
    border-color: #f00;
}

input.error::placeholder {
    color: #222 !important;
}